@charset "UTF-8";
/* CSS Document */

body {
    font-family: 'Fjalla One', Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    background-image: url(6.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.content {
    background-color: #eee;
    width: 75%;
    max-width: 800px;
    min-height: 170px;
    box-shadow: 5px 5px 9px #333;
}

#quiz {
    display:none;
    margin-top: 200px;
    padding: 40px;
    height: 400px; 
    font-size: x-large;
    box-shadow: 0px 0px 20px 0px #d3d3d3;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    font-size: smaller;
}

input[type="radio"] {
    margin-right: 15px;
}
button {
    position: relative;
    float:right;
    margin-left: 5px;
    margin-top: 15px;
}

#prev {
    display:none;
    margin-top: 250px;
}

#start {
    display:none;
    width: 90px;
}

#warning {
    color: #800000;
    font-weight: bold;
    margin-top: 25px;
}

@media(max-width: 767px){
    #start {
        margin-left: 25px;
    }
}
h3{
    padding-top: 145px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color:red;
}
#next{
    margin-top: 250px;
}
    