#navbar{
	background-color: #333;
	margin-top: 200px;
	width: 500px;
	transform: skew(-50deg, 20deg);
	box-shadow: 0px 10px 10px 0px gray;
	padding: 20px; 
}
@keyframes nav{
	from{
	}
	to{transform: perspective(400px) translateZ(200px);

	}
} 
.col-2:hover{
	margin: -20px;
	width: 30px;
	animation-name: nav;
	animation-duration: 2s;
}
.row{
	width: 100%;
}